/pharo-launcher/pharo-launcher-2013*
*.upload
*.orig.tar.gz
*.debian.tar.gz
*.dsc
*.build
*.changes
cog
sources.tar.gz
pharo-vm-2013.*
pharo-vm_2013.*
*.deb
get-sources.log
PharoDebug.log
nohup.out
/pharo-launcher/PharoLauncher.zip
/pharo-launcher/jenkins.json
/pharo-launcher/pharo-launcher-25/
